---

# TODO:
# use CLAUDE_CONFIG_DIR to set per-invocation claude file
# Mount the volume to thensame path (not /app-name), ie it would be ~/dev/test-project1
# This way it would keep unique claude json history
services:
  cell:
    image: ghcr.io/dimmkirr/devcell:${IMAGE_TAG:-latest}
    build:
      context: .
      dockerfile: ${DOCKERFILE:-Dockerfile}
      args:
        USER_NAME: ${USER}
        USER_UID: 501
        USER_GID: 20

        # User Options, set in .env
        DEVCELL_GUI_ENABLED: ${DEVCELL_GUI_ENABLED:-true}
        DEVCELL_NIX_ENABLED: ${DEVCELL_NIX_ENABLED:-true}
        DEVCELL_KICAD_ENABLED: ${DEVCELL_KICAD_ENABLED:-false}
    group_add:
      - "0"  # Docker MacOS passthrough

    working_dir: /${APP_NAME:-app}
    container_name: devcell-${APP_NAME:-app}
    volumes:
      # Mount BASE_DIR under the same path
      - ${BASE_DIR}:/${BASE_DIR}

      # Mount the test run directory as workspace
      - ${BASE_DIR}:/${APP_NAME:-app}

      - /var/run/docker.sock:/var/run/docker.sock

      # Selective XDG Config mounts
#      - ${HOME:-}/.config/git/:/home/${USER}/.config/git/:ro # XDG config git dir - disabled since host'ss config is managed by nix

      # Mount Claude and host agents
      - ${CELL_HOME}/:/home/${USER}/
      - ${HOME:-}/.claude/commands:/home/${USER}/.claude/commands:ro # Host-based commands
      - ${HOME:-}/.claude/agents:/home/${USER}/.claude/agents:ro # Host-based agents

    environment:
      APP_NAME: ${APP_NAME:-app}
      IS_SANDBOX: 1
      WORKSPACE: /${APP_NAME:-app}
      DEVCELL_GUI_ENABLED: ${DEVCELL_GUI_ENABLED:-false}

      TERM: ${TERM}
      EXT_VNC_PORT: "${EXT_VNC_PORT}"

      HISTFILE: /home/${USER}/zsh_history_${APP_NAME}

      CODEX_OSS_BASE_URL: "${CODEX_OSS_BASE_URL:-http://host.docker.internal:1234/v1}"

      GIT_AUTHOR_NAME: "${GIT_AUTHOR_NAME:-DevCell}"
      GIT_AUTHOR_EMAIL: "${GIT_AUTHOR_EMAIL:-devcell@devcell.io}"
      GIT_COMMITTER_NAME: "${GIT_COMMITTER_NAME:-DevCell}"
      GIT_COMMITTER_EMAIL: "${GIT_COMMITTER_EMAIL:-devcell@devcell.io}"

    command: tail -f /dev/null  # Keep container running
    ports:
      - "${EXT_VNC_PORT}:5900"
    networks:
      - devcell-network

networks:
  devcell-network:
    driver: bridge
